.header_box {
    display: flex;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap;
    background: rgb(31,41,55);
    justify-content: center;
    align-items: center;
    color: white;
}