
.menu_box {
    display: flex;
    background: plum;
    border: 4px solid indigo;
    height: 120px;
    justify-content: space-around;
}







.logo_container {
    display: flex;
    background: plum;
    border: 4px solid indigo;
    align-items: center;
}

.menu_container {
    display: flex;
    width: 800px;
    background: plum;
    border: 4px solid indigo;
    justify-content: center;
   

}
  
.menu_item {

    text-align: center;
    width: 120px;
    height: 50px;
    border: 4px solid darkslategray;
    background: skyblue;
    margin: 5px;
}




.intro_info{
    display: flex;
    height: 400px;
    justify-content: center;
    flex-wrap: wrap;
    background: plum;
    border: 4px solid indigo;
    justify-content: center;
}

.intro_photo_item {
    width: 150px;
    height: auto;
    border: 4px solid darkslategray;
    background: skyblue;
    margin: 30px;
}

.intro_text_box {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    background: plum;
    border: 4px solid black;


}


.intro_text_item_2 {

    flex-grow: 0.05;
    border: 4px solid darkslategray;
    background: skyblue;
    margin: 0px;
    
}

.intro_text_item_3 {

    flex-grow: 0.01;
    border: 4px solid darkslategray;
    background: skyblue;
    margin: 0px;
    width: 70px;
    
}

.header_box {
    display: flex;
    background: plum;
    border: 4px solid black;
    justify-content: center;
}

.header_text_item {
    border: 4px solid darkslategray;
    background: skyblue;
}
























